@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style-type: square;
  margin-left: 30px;
  padding: 2px;
}

.heygen__heading{
  color: #FFFFFF;
  font-family: "Space Grotesk", sans-serif;
}